.headerContainer {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header);

  position: fixed;
  top: 0;
}

.headerFilterContainer {
  display: flex;
  column-gap: 0.3rem;
}

.titleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.title {
  font-weight: bold;
}

.headerBtn {
  background-color: #faf0ca;
  color: red;
}

.headerButton {
  background-color: "#FAF0CA";
  color: "#3a1c50";
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.containerClaimed {
  padding-top: 155px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container {
  padding-top: 20px;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    height: 200px;
  }
  .containerClaimed {
    padding-top: 215px;
  }
}

@media (max-width: 590px) {
  .headerContainer {
    height: 240px;
  }
  .containerClaimed {
    padding-top: 255px;
  }
}
